
<div *ngIf="loading" class="d-flex justify-content-center my-5">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate"
    diameter="75">
  </mat-progress-spinner>
</div>

<!-- Back Button -->
 <div class="container mt-4">
<button class="back-button" (click)="back()">
  &#8592; Back
</button>
</div>

<!-- <div class="row">
  <div class="row g-3">
    <div class="col-md-4" >
      <mat-card class="h-100 mat-elevation-z4">
        <mat-card-header>
          <mat-card-title class="title">{{ task.title }}</mat-card-title>
        </mat-card-header>
            <div class="custom-divider"></div>
        <mat-card-content>
         <p>Status: {{ task.completed ? 'Completed' : 'Pending' }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div> -->


<!-- <div  class="container my-4">
  <div class="row g-3">
    <div class="col-md-4" *ngFor="let task of fetchedTasks">
      <mat-card class="h-100 mat-elevation-z4">
        <mat-card-header>
          <mat-card-title class="title"> <a [routerLink]="['/task-detail', task.id]" class="text-decoration-none fw-bold">{{ task.title }} </a></mat-card-title>
        </mat-card-header>
            <div class="custom-divider"></div>
        <mat-card-content>
          <p>Status: {{ task.completed ? 'Completed' : 'Pending' }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div> -->

<div class="mat-card">
<mat-card class="task-detail-card">
  <mat-card-header>
    <div mat-card-avatar class="task-avatar"></div>
    
    <mat-card-title>{{ task.title }}</mat-card-title>
    <!-- <mat-card-subtitle>
      <span class="task-status" [ngClass]="getStatusClass(task.status)">{{ task.status }}</span>
    </mat-card-subtitle> -->
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <section class="task-section">
      <h3>Description</h3>
      <p>{{ task.description || 'No description provided.' }}</p>
    </section>
    <span class="task-status" [ngClass]="getStatusClass(task.status)">{{ task.status }}</span>
  </mat-card-content>
</mat-card>
</div>
