.table-container {
  margin: 20px auto; /* top/bottom margin 20px, center horizontally */
  max-width: 100%; /* limit the max width so it doesn't stretch too much */
  padding: 0 10px; /* optional padding on sides */
  box-sizing: border-box;
}

mat-form-field {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

/* Center the table horizontally */
table {
  width: 100%;
  margin: 0 auto;
}


.mat-header-cell {
  font-weight: 700; 
  background-color: #1976d2; 
  color: black; 
}



