.card-divider {
  border: none;
  border-top: 1px solid #e0e0e0; /* Light gray line */
  margin: 0 16px;                /* Optional: horizontal padding */
}


/* .custom-divider {
  height: 2px;
  background-color: #e0e0e0;
  margin: 0 16px;
}

.title{
  color: blueviolet;
} */


mat-form-field input {
  border: 5cap;
  border-color: blue;
  margin-bottom: 20px;
  
}
table {
  width: 100%;
}

