.nav-link.active {
  color: #ffc107 !important; /* bright yellow */
  font-weight: bold;
  border-bottom: 2px solid #ffc107;
}


.body-container {
  margin-top: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
}