/* You can add global styles to this file, and also import other style files */
*{margin: 0px;}
html, body { height: 100%; }
body {
   margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif 
  }


.custom-divider {
  height: 2px;
  background-color: #e0e0e0;
  margin: 0 16px;
}

.title{
  color: blueviolet !important;
}


/* task-list.component.css */
.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Back Button Styles */

.back-button:hover {
  cursor: pointer;
}

.back-button {
  background: none;
  border: none;
  color: #0078d4; /* Blue text color */
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 0;
  font-family: inherit;
  font-weight: bolder;
}



.back-button:focus {
  outline: 2px solid #005a9e;
  outline-offset: 2px;
}

